* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #f0f2f5; */
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  height: 110vh;
}

div {
  font-family: inherit;
}

.background {
  background: #f0f2f5;
  margin-top: 0;
  padding-top: 72px;
  padding-bottom: 112px;
  height: 720px;
}

.containner {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  width: 980px;
}

.box1 {
  display: inline-block;
  width: 580px;
  height: 266.8px;
}

.box2 {
  height: 456px;
  padding-bottom: 24px;
  padding-top: 10px;
}

.input_box {
  text-align: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  width: 396px;
  height: 352.6px;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.fb_logo {
  padding: 112px 0 16px;
}

.text1 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
}

input[type="text"] {
  font-size: 19px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}

input[type="password"] {
  font-size: 19px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  margin: 12px;
}

.botton {
  color: white;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 22px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  font-weight: bold;
  font-family: inherit;
}

.line {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.register {
  border: none;
  border-radius: 6px;
  font-size: 19px;
  line-height: 48px;
  padding: 0 16px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #42b72a;
  font-weight: bold;
}

.bottom-box {
  margin-top: 28px;
  text-align: center;
  color: #1c1e21;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-top: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  color: #737373;
  margin: 0 auto;
  width: 980px;
}

.footer {
  padding-top: 8px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 8px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  padding-left: 10px;
  text-decoration: none;
}

.forgot {
  margin-top: 16px;
  text-align: center;
}

@media (max-width: 990px) {
  .containner {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }

  .box1 {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
  }

  .box2 {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
  }

  .fb_logo {
    padding: 0;
    width: auto;
  }

  .text1 {
    width: auto;
  }

  .footer {
    width: auto;
  }

  .background {
    padding-top: 12px;
    padding-bottom: 112px;
    height: 720px;
  }
}

@media (max-width: 426px) {
  .background {
    padding-top: 12px;
    padding-bottom: 112px;
    height: 500px;
  }
  .text1 {
    font-size: 16px;
  }

  .input_box {
    width: 264px;
    height: 250px;
  }

  input[type="text"] {
    font-size: 12px;
    padding: 9.3px 10.7px;
    width: 220px;
    border-radius: 4px;
  }

  input[type="password"] {
    font-size: 12px;
    padding: 9.3px 10.7px;
    width: 220px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    margin: 8px;
  }

  .botton {
    border-radius: 4px;
    font-size: 14.7px;
    line-height: 32px;
    padding: 0 10.7px;
    width: 221.33px;
    font-weight: bold;
    font-family: inherit;
  }

  .forgot {
    margin-top: 10.7px;
    text-align: center;
  }

  .line {
    margin: 13.33px 10.7px;
  }

  .register {
    border-radius: 4px;
    font-size: 12.7px;
    line-height: 32px;
    padding: 0 10.7px;
  }

  .bottom-box {
    margin-top: 18.7px;
    font-size: 10.7px;
  }

  .list {
    padding-top: 5.3px;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9.3px;
  }
}
